<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Hyper Obstructer</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
      <div :class="viewbox">
        <h1 :class="h1">JavaScript Hyper Obstructer</h1>
        <div>
          <button v-on:click="convert" :class="button">Parse</button>
        </div>
        <div :class="writebox">
          <textarea :class="textarea" v-model="code"></textarea>
          <textarea :class="textarea" v-model="afterCode"></textarea>
        </div>
      </div>
    </div>

    <script type="module">
      import { tw } from "https://cdn.skypack.dev/twind";
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            code: "console.log('You have no code!')",
            afterCode: "",
            h1: tw`text-3xl my-10`,
            viewbox: tw`w-screen h-screen flex flex-col justify-center items-center bg-gray-700 text-white`,
            textarea: tw`mt-5 w-2/5 h-1/2 p-4 bg-gray-800 rounded-lg`,
            writebox: tw`mt-5 w-screen h-full flex justify-around items-center`,
          };
        },
        methods: {
          async convert() {
              console.log(this.code);
              const resp1 = await fetch("/minify", {
                method: "POST",
                body: `${this.code}`,
              });

              const resp2 = await fetch("/obstruction", {
                method: "POST",
                body: `${(await resp1.json()).code}`,
              });

              const resp3 = await fetch("/minify", {
                method: "POST",
                body: `${(await resp2.json()).code}`,
              });

              const resp4 = await fetch("/obstruction", {
                method: "POST",
                body: `${(await resp3.json()).code}`,
              });

              const resp5 = await fetch("/minify", {
                method: "POST",
                body: `${(await resp4.json()).code}`,
              });

              const resp6 = await fetch("/obstruction", {
                method: "POST",
                body: `${(await resp5.json()).code}`,
              });

              this.afterCode = (await resp6.json()).code;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
